<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="customer" class="SpringQ1.Customer">
  <property name="customerId" value = "900778"></property>
    <property name="customerName" value = "Tom"></property>
    <property name="customerContact" value = "900778738"></property>
    <property name="customerAdd" ref = "address"></property>
  
    <!-- collaborators and configuration for this bean go here -->
  </bean>

  <bean id="address" class="SpringQ1.Address">
  <property name = "street" value= "Attingal"/>
  <property name = "city" value= "Trivandrum"/>
  <property name = "state" value= "Kerala"/>
  <property name = "country" value= "India"/>
<!-- collaborators and configuration for this bean go here -->
  </bean>

  <!-- more bean definitions go here -->

</beans>