<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">
           
           
 <context:annotation-config/>
 			
 <bean id="student" class="SpringQ5.Student">
		<property name="admNo" value="1234"></property>
		<property name="studentname" value="Saban"></property>
	</bean>

	<bean id="idCard" class="SpringQ5.IdCard">
		<property name="name" value="Saban"></property>
		<property name="classRoomNo" value="7"></property>
	</bean>
  <!-- more bean definitions go here -->

</beans>